<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milestone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Milestones</a>
                <ul class="navbar-nav flex-row">
                    <li class="nav-item mx-2"><a class="nav-link active" aria-current="page" href="/" >Homepage</a></li>
                    <li class="nav-item mx-2"><a class="nav-link active" aria-current="page" href="/" >Dashboard</a></li>
                {{#if loggedIn}}
                    <li class="nav-item mx-2"><a id = "logout" class="nav-link active" aria-current="page" href="" >Logout</a></li>
                {{else}}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Login/Signup</a></li>
                {{/if}}
                </ul>
            </div>
        </nav>
    </div>

    <div class="container py-2 min-vh-100">
        {{{ body }}}
    </div>
    <div class="container footer bg-dark text-white p-4 text-center">
        &copy; Copyright 2021 milestones.com
    </div>
</body>
</html>