<!-- ***** Login Form ***** -->
<section class="section contact" data-section="loginpage" id="login">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Welcome to Milestone</h2>
          </div>
        </div>
        <div class="col-md-6">
 
        {{!-- Login form --}}
          <form class="login-form" id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                  <fieldset>
                    <input name="username" id="username-login" type="text" class="form-control" placeholder="Username">
                  </fieldset>
                  <div class="d-flex justify-content-center"><button type="submit" id="form-login"><i class="bi bi-box-arrow-in-right"></i> Log In</button></div>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input id="password-login" name="password" type="password" class="form-control" placeholder="Password">
                  </fieldset>
                  <div class="d-flex justify-content-center"><button type="button" data-toggle="modal" data-target="#myModal"><i class="bi bi-person-lines-fill"></i> Sign Up Now !</button></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<!-- Sign upModal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content" enctype="multipart/form-data">
      <form class="signup-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Signup</h4>
          <p class="modal-sub-title" id="Modal-sub-text" style="color: red; margin-bottom: 0px; font-weight: bold;" hidden></p>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input class="form-control" type="text" id="username-signup" placeholder="User Name"/>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" id="email-signup" placeholder="Email Address"/>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" id="password-signup" placeholder="Password"/>
          </div>
          <div class="form-group">
            <label for="file" style="cursor: pointer;">Upload Profile Picture</label>
            <input class="form-control" type="file" name="profimage" id="file"> 
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default font-weight-bold text-white">Sign Up</button>
          <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- error Modal -->
        <div id="login-Error-Username-Modal" class="modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="Modal-text" ></h5>
                </div>
                <div class="modal-footer">
                  <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
  <!--End of error Modal-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascript/login.js"></script>